{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&family=Montserrat:wght@100;200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/realtor-login.css' %}" />
    <title>Realtor login page</title>
  </head>
  <body>
<div>
    {% include "../messages.html" %}
</div>
    <!-- ================= Login Wrapper =================  -->
    <div class="login__wrapper">
      <div class="header"><h3>Registeration Portal</h3></div>
      <div class="login__body">
        <div class="logo">
          <a href="/l"
            ><img
              src="{% static 'assets/images/Golden Land Invst ltd Black logo.jpg' %}"
              alt=""
          /></a>
        </div>
        <h3>Fill in Your Accurate Information </h3>
       
        <form action="" method="post" id="realtor_form">
          {% csrf_token %}

          {{ realtor_downline_form }}

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>

</body>
</html>