@import url("./index.f4d78af7c75c.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  padding: 1rem;
}

.login__wrapper {
  max-width: 500px;
  min-height: 500px;
  /* border: 3px solid black; */
  overflow: hidden;
  display: flex;
  flex-flow: column;
  gap: 1.75rem;
}

.login__wrapper .header h3 {
  font-size: var(--larger-font);
  text-align: center;
}

.login__wrapper .login__body {
  display: flex;
  flex-flow: column;
  gap: 1.75rem;
}

.login__wrapper .login__body h3 {
  text-align: center;
}

.login__wrapper .login__body .logo {
  background-color: black;
  width: 100%;
  overflow: hidden;
  height: 100px;
}
.login__wrapper .login__body .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 1rem;
}

.login__wrapper .login__body form {
  display: flex;
  flex-flow: column;
  gap: 1.25rem;
}

.login__wrapper .login__body form input {
  height: 2.5rem;
  border-radius: 5px;
  outline: none;
  padding-left: 1rem;
  border: 0.5px solid black;
}

.login__wrapper .login__body form button {
  width: max-content;
  padding: 0.75rem 1.75rem;
  background-color: transparent;
  border-radius: 5px;
  border: 0.5px solid black;
  margin: 0 auto;
  transition-duration: 0.3s;
}

.login__wrapper .login__body form button:hover {
  background-color: black;
  color: white;
}

.errorlist li{
  color :red !important;
  }