{% load static %} 
  <!-- ================== The Nav Bar ===================    -->
  <div class="nav_bar">
    <div class="container">
      <div class="nav_contents flex">
        <div class="logo">
          <a href="/"
            ><img src="{% static 'assets/images/Golden Land Invst Ltd.png' %}" alt="" />
          </a>
        </div>
        <div class="nav_links flex">
          <ul class="flex">
            
            <li><a href="/">Home</a></li>
            <li><a href="#about">About us</a></li>
            <li><a href="#now-selling">Now selling</a></li>


            {% if request.user.is_authenticated %}
            <li><a href="{% url 'gdapp:realtor_dashboard' request.user.username %}">My Dashboard</a></li>
            <li><a href="{% url 'gdapp:user_logout' %}">Logout</a></li>
             {% else %}
             <li><a href="{% url 'gdapp:realtor_register' %}">Become a realtor</a></li>
             <li><a href="{% url 'gdapp:user_login' %}">Login</a></li>

            {% endif %}
          </ul>
          <a href="#contact" id="contct">Contact</a>
        </div>
        <div class="burger">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>

  {% include "messages.html" %}
