{% extends "base.html" %}

{% load static %}

{% block content %}
 <!-- =============== loading animation ================= -->
 <div class="loading_animation">
    <h3>GoldenLand</h3>
    <img src="{% static 'assets/images/Golden Land Invst ltd Black logo.jpg' %}" alt="" />

    <p>Your comfort is our priority...</p>
  </div>


    <!-- ================ The Hero Section ================  -->

    <div class="hero_section">
        <div class="hero_images">
          <img src="{% static 'assets/landingpage/interior1.jpg' %}" alt="" />
          <img src="{% static 'assets/landingpage/interior2.jpg' %}" alt="" />
          <img src="{% static 'assets/landingpage/interior3.jpg' %}" alt="" />
        </div>
      </div>
      <div class="hero_text">
        <div class="hero_text_content container">
          <h3>Start your Real Estate journey with us.</h3>
          <p>
            We deliver only excellence and aim to exceed expectations in
            everything we do.
          </p>
          <a href="#get-started">Get Started</a>
        </div>
      </div>
  
      <!-- ================== The search panel ================ -->
  
      <!-- <div class="search_panel">
        <div class="search_content container grid">
          <h3><span></span> Search by your parameters</h3>
          <form action="" class="flex">
            <input
              type="text"
              name="location"
              id="location"
              placeholder="Location"
            />
            <input type="number" name="price" id="type" placeholder="Price" />
            <button type="submit">Search Now</button>
          </form>
        </div>
      </div> -->
  
      <!-- ==================== Properties for you =====================  -->
      <div class="properties_for_you">
        <div class="properties_content container">
          <h3><span></span>New properties for you</h3>
          <div class="properties_grid">

            {% for property in properties %}
            <div class="property_image animate_up" style="transform: translate(0%); opacity: 0.995;">
              {% if property.video %}
              <video controls poster = "{% static 'assets/images/Golden Land Invst ltd Black logo.jpg' %}" style="width:100%;height:100%;">

                <source style="width:100%;height:100%;" src="{{property.video.url}}"
                        type="video/webm">
          
                <source style="width:100%;height:100%;" src="{{property.video.url}}"
                        type="video/mp4">
            
                Sorry, your browser doesn't support embedded videos.
            </video>
            {% else %}
              <a href="pageListing.html"><img class="props_img" style="height:300px;" src="{{property.image.url}}"></a>
              {% endif %}
              <div class="property_info">
                {% if property.on_promo %}
                <span>N{{property.promo_price_per_unit_or_plot}}</span>
                {% else %}
                <span>N{{property.price_per_unit_plot}}</span>
                {% endif %}
                <p>{{property.location}}</p>
              </div>
            </div>
            {% endfor %}

          </div>
          <div class="buttons"></div>
        </div>
      </div>
  
      <!-- ================== popular residence ==================  -->
      <!-- <div class="popular_residence container grid animate_up">
        <h3><span></span> Our Popular Residences</h3>
        
        <div class="residences">

          {% for property in properties %}
          <div class="residence">
            <div class="residence_image">
              <img src="{{property.image.url}}" alt="" />
            </div>
            <span class="location"
              ><img src="{% static 'assets/images/location.png' %}" alt="" /> Lagos,
              Nigeria</span
            >
            <div class="residence_details">
              <div class="number_of_beds">
                <img src="{% static 'assets/images/bed.png' %}" alt="" />4Beds
              </div>
              <div class="room_size">
                <img src="{% static 'assets/images/square1.png' %}" alt="" />8x8
              </div>
              <div class="square_space">
                <img src="{% static 'assets/images/square2.png' %}" alt="" /><span
                  >2000m<sup>2</sup></span
                >
              </div>
            </div>
            <div class="residence_price_booking">
              <a href="./html/pageListing.html">Book now</a>
              <span class="price">$4 000 000</span>
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
      <div class="black"></div> -->
  
      <!-- =================== Values =================  -->
      <div class="values animate_up">
        <div class="values_content container grid">
          <h3><span></span> Values</h3>
          <div class="value_grid">
            <div class="value_box">
              <div class="name_position">
                <span class="name">GoldenLand</span>
                <span class="position">Company</span>
              </div>
              <div class="value_details">
                <sup>"</sup>
                <p>
                  we deliver only excellence and aim to exceed expectations in
                  everything we do.
                </p>
              </div>
            </div>
  
            <div class="value_box">
              <div class="name_position">
                <span class="name">GoldenLand</span>
                <span class="position">Company</span>
              </div>
              <div class="value_details">
                <sup>"</sup>
                <p>
                  We conduct ourselves in the highest ethical standards,
                  demonstrating honesty and fairness in every decision and action
                  .
                </p>
              </div>
            </div>
  
            <div class="value_box">
              <div class="name_position">
                <span class="name">GoldenLand</span>
                <span class="position">Company</span>
              </div>
              <div class="value_details">
                <sup>"</sup>
                <p>
                  Our clients needs and best interest are at our heart in
                  everything we do.
                </p>
              </div>
            </div>
  
            <div class="value_box">
              <div class="name_position">
                <span class="name">GoldenLand</span>
                <span class="position">Company</span>
              </div>
              <div class="value_details">
                <sup>"</sup>
                <p>
                  We treat our clients and each other with dignity and respect at
                  all time.
                </p>
              </div>
            </div>
  
            <div class="value_box">
              <div class="name_position">
                <span class="name">GoldenLand</span>
                <span class="position">Company</span>
              </div>
              <div class="value_details">
                <sup>"</sup>
                <p>We believe in having fun at work and with each other</p>
              </div>
            </div>
          </div>
          <div class="value_badges">
            <div class="badge">
              <img src="{% static 'assets/images/loyalty.png' %}" alt="" />
              <p>Loyalty</p>
            </div>
            <div class="badge">
              <img src="{% static 'assets/images/trust.png' %}" alt="" />
              <p>Trusthworthy</p>
            </div>
            <div class="badge">
              <img src="{% static 'assets/images/reliable.png' %}" alt="" />
              <p>Reliable</p>
            </div>
            <div class="badge">
              <img src="{% static 'assets/images/promise.png' %}" alt="" />
              <p>We do as promised</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- ================= Advert ===============  -->
      <div class="advert animate_up">
        <div class="advert_content container">
          <div class="advert_left">
            <img src="{% static 'assets/images/banner1.jpeg' %}" alt="" />
          </div>
          <div class="advert_right">
            <div class="advert_right_title">
              <span></span>
              <h3>Watch this space</h3>
            </div>
            <h4>Comfort is our top priority for you</h4>
            <p>
              When you do business with us, we give you our best and we do our
              best to follow our clients up in order to ensure thier satisfaction.
            </p>
            <ul>
              <li>We follow our clients up for feedback.</li>
              <li>We give the best of services to our clients.</li>
              <li>Clients get the best value for what they pay for.</li>
              <li>We keep strong relationships with our clients</li>
            </ul>
            <a href="#get_started">Get started</a>
          </div>
        </div>
      </div>
  
      <!-- ============== Now Selling ==================  -->
      <div class="now_selling animate_up" id="now-selling">
        <h3><span></span> Now Selling</h3>
        <div class="now_selling_content container">

          {% with  now_selling_obj|first as ns %}
        {% if ns.is_sold_out %}
        <div class="now_selling_details">
          <div class="now_selling_content_header">
            <h4 style="text-align:center;">{{ns.property_name}}</h4>
            <div class="now_selling_location_info">
              <div>
                <img style="filter:initial;height:auto;width:60%;margin-left:20%;" src="{% static 'assets/images/sold-out.png' %}" alt="" />
              </div>
            </div>
          </div>


        </div>

        {% else %}
          <div class="now_selling_details">
            <div class="now_selling_content_header">
              <h4>{{ns.property_name}}</h4>
              <div class="now_selling_location_info">
                <div class="now_title">Title: {{ns.title}}</div>
  
                <div class="now_location">
                  <img src="{% static 'assets/images/location.png' %}" alt="" /> {{ns.location}}
                </div>
              </div>
            </div>
  
            <div class="price_size">
              <div class="now_price">
                <img src="{% static 'assets/images/price.png' %}" alt="" /> {{ns.price_per_unit_plot}}
              </div>
              <div class="now_size">
                <img src="{% static 'assets/images/size.png' %}" alt="" /> {{ns.unit_of_plot}} sqm
              </div>
            </div>
  
            <div class="now_selling_info">
              <p>
                {{ns.info}}

              </p>
            </div>
            <a href="./html/pageListing.html" id="evidence">Learn more</a>
          </div>
          {% endif %}
  {% endwith %}
  
          <div class="now_selling_image animate_up">
            <img src="{{ns.image.url}}" alt="" />
          </div>
        </div>
      </div>
  
      <!-- =============== About ================  -->
      <div class="about_us animate_up" id="about">
        <h3><span></span> About us</h3>
        <div class="about_content container">
          <h4>We're passionate about one thing... Your Investment</h4>
          <p>
            Goldenland Investment Limited’s priority is to help make real estate investing simple, secure and profitable for everyone. We keep to our promise by pursuing Excellence, Continuous Innovation carrying out our services with Integrity & Diligence and always put our clients first.
          </p>
        </div>
        <h3><span></span> Vision</h3>
        <div class="about_content container">
        
        <p>Our main objective is to create a long-term brand built on the Excellence with the biggest presence in the Real Estate sector.
        </p>
      </div>
      <h3><span></span> Mission</h3>
      <div class="about_content container">
        
        <p>We’re passionate about one thing ……………. Your Investment. Goldenland Investment Limited’s mission is to Modernize & Progress the Experience of buying and selling Real Estate by cultivating a spirit of Collaboration, Innovation and Integrity. </p>
      </div>
      </div>
  
      <!-- ================== Contact =================  -->
      <div class="contact_details container" id="contact">
        <h3><span></span>Contact details</h3>
  
        <div class="contact_content_container">
          <div class="contact_head animate_up">
            <h2>We would love to hear from you</h2>
  
            <div class="contact_info">
              <div class="contact_info_details">
                <span> <b> Email us:</b> goldenlandpeak@gmail.com</span>
                <span> <b>Call us:</b> +234 9158365871</span>
                <span
                  ><b>We are at:</b>Eputu Mall, Eputu Bus Stop, Ajah, Lagos
                </span>
              </div>
  
              <div class="contact_info_social_media">
                <img src="{% static 'assets/images/icons8-facebook-50.png' %}" alt="" />
                <!-- <img src="{% static 'assets/images/icons8-google-plus-50.png' %}" alt="" /> -->
                <img src="{% static 'assets/images/icons8-linkedin-50.png' %}" alt="" />
                <img src="{% static 'assets/images/icons8-twitter-squared-50.png' %}" alt="" />
              </div>
            </div>
          </div>
  
          <div class="contact_form animate_up">
            <form action="/contactus" method="POST">
              {% csrf_token %}
              <input
                type="text"
                name="full_name"
                id="name"
                placeholder="Your full name"
              />
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Your email"
              />
              <input
                type="number"
                name="phone_number"
                id="phone"
                placeholder="Your phone number"
              />
              <textarea
                name="message"
                id="message"
                placeholder="Your message"
              ></textarea>
              <button type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
  
{% endblock content %}

{% block js %}
<script>
  function removePopup(){
setTimeout(() => {
const box = document.getElementById('message-info');

const errorText = document.getElementsByClassName('errorlist').length > 0
if (errorText){
 const errorBoxes = Array.from(document.getElementsByClassName('errorlist'))
 errorBoxes.forEach(box => {
  box.classList.add("errorText");
  box.style.display = 'none';
});
  document.querySelector('form .errorlist').style.display = 'none';
}


// 👇️ removes element from DOM
box.style.display = 'none';

}, 5000)};

</script>
<script src="{% static 'js/dummyDataBase.js' %}" defer></script>
<script src="{% static 'js/generalFunctions.js' %}" defer></script>
<script src="{% static 'js/main.js' %}" defer></script>
{% endblock js %}