{% load static %} 
<script src="{% static 'js/message.js' %}" defer></script>
<div id="message-info">
    {% for message in messages %}
    {% if 'success' in message.tags %}
    <div class = "success-wrapper">
    <p class="success-text">{{ message|striptags }}</p>
    </div>
    {% elif 'error' in message.tags %}
    <div class = "error-wrapper">
    <p class="fail-text">Error! {{ message|striptags }}</p>
  </div>
    {% endif %}
    {% endfor %}
  </div>





<style>

@keyframes messages {
  from {left:-100%;}
  to {width: 100%;}
}

@keyframes errorText {
  from {opacity:0;}
  to {opacity:1;}
}

.errorText {
  animation-name: errorText;
  animation-duration: 2s;
  animation-direction: alternate;
}

#message-info {
  position:fixed;
  width:400px;
  top:0;
  left: 100%;
  transform: translate(-100%, 0);
  animation-name: messages;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  z-index: 500;
}

#message-info p {
  text-align: center;
  margin:auto;
}

.errorlist{
  animation-name: errorText;
  animation-duration: 2s;
  animation-direction: alternate;
}

    .success-wrapper {
      float:right;
      width:400px;
      background:green;
      display: flex;
      text-align: center;
      height: 60px;
      align-items: center;
      margin-top:82px;
    }
    .success-wrapper,.error-wrapper p{
      color:white
    }
    .error-wrapper {
      float:right;
      width:400px;
      background:red;
      display: flex;
      text-align: center;
      height: 60px;
      align-items: center;
      margin-top:82px;
    }
  </style>

